<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather-icon.png">
        <link rel = "stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-containts">
            {{>header}}
            <p>
                <img src="/images/my.png"><br> <br>
                <b>Name: </b> {{name}} <br>
                <b>Profession: </b> Student <br>
                <b>Qualification: </b> Master in Computer Application <br>
                <b>Description about the app: </b> This app can provide the weather information of a particular location from all over the world.
            </p>
        </div>
        {{>footer}}
    </body>
</html>