<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/weather-icon.png">
        <link rel = "stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="main-containts">
            {{>header}}
        <p>
            <h3>This web-app is developed by: {{name}}</h3> <br> 
            Currently the help desk is not available.
        </p>
        </div>
        {{>footer}}
    </body>
</html>